<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link bootstrap , fontawsome , font and responsive files -->
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/Responsive.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Responsive.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- end link bootstrap , fontawsome , font and responsive files -->
    <!-- Add Description And Keywords -->
    <meta name="description" content="I'm Abdelfattah Tarek Full-Stack Web Developer">
    <meta name="keywords" content="abdelfattahtarek,abdelfattah,abdelfattah tarek,abdelfattah tarek abdelfattah,abdelfattah elbaaginy,abdelfattahtarekelbaaginy">
    <!-- End Add Description And Keywords -->
  <title><%= title %></title>
</head>