<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

  <body>
    <%- include("./partials/navbar") %>

      <section class="home" id="home">
        <!-- Typed Text -->
        <div class="container">
          <div class="content">
            <p>Hello, My Name is <span>Abdelfattah Tarek</span></p>
            <h3>I'm Expert in <span id="span"></span> Development</h3>
            <h4>For Develop a Best Full-Stack MERN Apps And Websites</h4>
            <a href="" class="btn btn-main">View My Projects</a>
          </div>
        </div>
      </section>
      <section class="about" id="about">
        <h2 class="title">About Me</h2>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="images/SEO analytics team-bro.png" class="w-100" alt="SEO IMG">
            </div>
            <div class="col-md-6">
              <p class="p">
                I'm Abdelfattah Tarek <span id="span2"></span>.
                When I started Programming in 2020 by learning the basics of web
                and how its work and i read some books about search engines Because i'm so interested about web
                Development.
                after that,I decided to learned more about SEO because it's a very important part for
                any website or blog.
                after that i learned the basics of html , css
                then javascript and jquery.
                After all this time spent on programming languages like HTML CSS JS JQUERY Reactjs etc... ,
                I started learning Nodejs in 2023 with Express framework and now im working <span>MEARN-STACK</span>
                Developer.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Services -->
      <section class="services" id="services">
        <h2 class="title">My Services</h2>
        <div class="container">
          <div class="row align-items-center serRow">
            <div class="col-md-6">
              <div class="card">
                <i class="fas fa-wifi card-img-top i"></i>
                <div class="card-body">
                  <h5 class="card-title">Websites</h5>
                  <p class="card-text p mt-3">i can build professional responsive website optimized for the most pupular
                    search engines.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <img src="images/SEO analytics team-bro.png" alt="img" class="w-100">
            </div>
            <div class="col-md-6">
              <div class="card">
                <i class="fas fa-tv card-img-top i"></i>
                <div class="card-body">
                  <h5 class="card-title">Single Page Application</h5>
                  <p class="card-text p mt-3">i can build professional single page Application using reactjs.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <img src="images/Usability testing-amico.png" alt="img for web" class="w-100">
            </div>

            <div class="col-md-4">
              <div class="card">
                <i class="fas fa-layer-group card-img-top i"></i>
                <div class="card-body">
                  <h5 class="card-title">Web Application</h5>
                  <p class="card-text p mt-3">i can build professional Application for defrent purposes using
                    technologies that allow you more security.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <img src="images/Video game developer-pana.png" alt="img for web" class="w-100">
            </div>
          </div>
        </div>
      </section>
      <!-- End Services -->








      <!-- Projects -->
      <section class="projects" id="projects">
        <h2 class="title">My Projects</h2>
        <div class="container my-5">
          <div class="row">
            <div class="col-md-4 mt-3">
              <div class="card">
                <img src="images/google.png" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title span">Google Websitex</h5>
                  <p class="card-text p">i make a google website by using search query in google search.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <div class="card">
                <img src="images/5.png" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title span">Sea Website</h5>
                  <p class="card-text p">This Website i learned a lot of things when i developed it like how to use flex
                    and some buttons animation.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <div class="card">
                <img src="images/modern1.png" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title span">Open AI Company Website</h5>
                  <p class="card-text p">I Make This Website To Open AI Company When Chatgpt Start I Use In This Project
                    Reactjs And Tailwind Css.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <div class="card">
                <img src="images/modern2.png" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title span">Next Genration Website</h5>
                  <p class="card-text p">I Make This Website When I Was Learn Reactjs And Tailwind This Website Is So
                    Modern And Responsive.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <div class="card">
                <img src="images/calc.png" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title span">Calculator</h5>
                  <p class="card-text p">I Make A This Calculator To Know How Can I Get Value From User Pure Js.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <div class="card">
                <img src="images/e web.png" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title span">Ecommerce Website</h5>
                  <p class="card-text p">when i learned reactjs i developed this Ecommerce website to have some
                    knowledge about how to develop it and feching api.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <div class="card">
                <img src="images/egweb.png" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title span">Egy Serve Website</h5>
                  <p class="card-text p">This Is A Egy Serve Company Website I Make It Using Reactjs.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <div class="card">
                <img src="images/res.png" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title span">Resturant Website</h5>
                  <p class="card-text p">I Make Resturant Website Note This Is A First React Project I Create It When I
                    Was Learn Front End.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <div class="card">
                <img src="images/p1.png" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title span">Portfolio Website</h5>
                  <p class="card-text p">I Make This Website To Learn How To Make A Portfolio Website.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
      <!-- End Projects -->




      <!-- Contact -->
      <section class="contact" id="contact">
        <h2 class="title">Contact Me</h2>
        <div class="container my-5">
          <div class="row">
            <div class="col-md-6">
              <h2 class="title2">Contact Me</h2>
              <div class="contact-icons">
                <p><span><i class="fa-sharp fa-solid fa-paper-plane"></i></span> abdelfattahtarekabdelfattah@gmail.com
                </p>
                <p><span><i class="fa-solid fa-phone"></i></span> +20 01002832450</p>
              </div>
              <div class="icons">
                <a href="https://www.facebook.com/abdelfattahtarek.elbaaginy" target="_blank"><i
                    class="fa-brands fa-facebook"></i></a>
                <a href="https://github.com/AbdelfattahTarekAbdelfattah" target="_blank"><i
                    class="fa-brands fa-github"></i></a>
              </div>
              <a href="documents files/my cv.docx" class="btn btn-main">Download CV</a>
            </div>
            <div class="col-md-6">
              <form action="/message" method="POST">
                <input type="text" name="Uname" id="Uname" placeholder="Enter Your Name" required autocomplete="off">
                <input type="email" name="Uemail" id="Uemail" placeholder="Enter Your Email" required autocomplete="off">
                <textarea name="Umessage" id="Umessage" rows="6" placeholder="Enter Your Message" autocomplete="off"
                  required></textarea>
                <button type="submit" class="btn btn-main w-100">Send</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact -->

      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="informations">
                <h4>Abdelfattah <span>Tarek</span></h4>
                <p>I'm <span id="span3"></span> Web Developer</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="lists">
                <ul>
                  <li><a href="#home">Home</a></li>
                  <li><a href="#about">AboutMe</a></li>
                  <li><a href="#services">My Services</a></li>
                  <li><a href="#projects">My Projects</a></li>
                  <li><a href="#contact">Contact Me</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </footer>
      <!-- End Footer -->
      <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
      <script src="js/all.min.js"></script>
      <script src="js/bootstrap.bundle.js"></script>
      <script src="js/main.js"></script>
  </body>
</html>